.App {
  columns: auto 2;
}

.content{
  height: 300px;
}
.formContent{
  height: 100%;
}

.info{
  height: 100%;
  overflow-y: scroll;
}
form{
  padding: 10px;
}
.infoUser{
  border: 1px solid teal;
  width: 90%;
  padding: 5px;
}
.detailInfo{
  color: royalblue;
  font-weight: bold;
}